/build

# 环境变量
/www/build
/www/.next
/www/node_modules
/www/next-env.d.ts

# 日志
*.log
*.tmp   

application/build
bootloader/build
releases
tools/__pycache__
server/node_modules/
server/uploads/
server/data/
temp_package/
common/__pycache__

connect-monitor/node_modules
connect-monitor/dist
connect-monitor/build
connect-monitor/release-builds
connect-monitor/.next
connect-monitor/installer-builds

dongle
RFMoudle

RF_PHY_Hop/TX/build_tx
RF_PHY_Hop/RX/build_rx



